body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  text-align: center;
  min-width: 480px;
  width: auto !important; }

.caption {
  left: 0;
  width: 100%;
  text-align: center;
  color: #000;
  padding-bottom: 20px;
  margin: 3rem 0px 4rem; }

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 1rem;
  font-size: 25px;
  letter-spacing: 10px;
  position: relative; }

.spacer {
  position: relative; }
  .spacer div {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 110px 80px;
    text-align: justify; }

.spacer {
  position: relative; }
  .spacer div {
    color: #ddd;
    background-color: "#282E34";
    text-align: center;
    padding: 110px 80px;
    text-align: justify; }

.crew {
  position: relative;
  margin-bottom: 7rem; }
  .crew div {
    color: #ddd;
    background-color: "#white";
    text-align: center;
    padding: 110px 80px;
    text-align: justify; }
  .crew div {
    padding: 0;
    text-align: center; }

.main {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
  overflow: hidden;
  max-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 56.25%;
  /* Default for 1600x900 videos 16:9 ratio*/
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  padding-bottom: 0px; }
  .main .container {
    margin-top: -100%;
    min-height: 100%; }
  .main .background-image {
    background-image: url("../img/backgrounds/bomb.jpg");
    min-height: 100%;
    opacity: 0.65;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .main iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 1366px) {
    .main {
      padding-bottom: 56.25%;
      /* Default for 1600x900 videos 16:9 ratio*/ } }
  @media screen and (min-width: 1024px) {
    .main iframe {
      width: 110%;
      height: 110%;
      margin-top: -2%; } }
  .main:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/js_logo/js_logo_white.png");
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; }
    @media screen and (max-width: 960px) {
      .main:after {
        background-size: contain; } }

.sponsors {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
  overflow: hidden;
  max-height: 30rem;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .sponsors .container {
    margin-top: -30rem;
    min-height: 30rem; }
  .sponsors .background-image {
    background-image: url("../img/backgrounds/station.jpg");
    min-height: 30rem;
    opacity: 0.65;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.latest {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
  overflow: hidden;
  max-height: 58rem;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .latest .container {
    margin-top: -58rem;
    min-height: 58rem; }
  .latest .background-image {
    background-image: url("../img/backgrounds/auto.jpg");
    min-height: 58rem;
    opacity: 0.65;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.videos {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
  overflow: hidden;
  max-height: 66rem;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .videos .container {
    margin-top: -66rem;
    min-height: 66rem; }
  .videos .background-image {
    background-image: url("../img/backgrounds/bomb.jpg");
    min-height: 66rem;
    opacity: 0.65;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.square {
  float: left;
  position: relative;
  width: 30.01333%;
  margin-left: 1.66%;
  margin-right: 1.66%;
  margin-bottom: 8.3%;
  padding-bottom: 30%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.overlay {
  position: relative; }
  .overlay .overlay-content {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    color: white;
    background: url(../img/overlay/overlay.png);
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased; }
  .overlay:hover .overlay-content {
    left: 3%;
    height: 91%;
    width: 94%;
    opacity: 1;
    text-align: center;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-51%); }

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  /* Default for 1600x900 videos 16:9 ratio*/
  padding-top: 0px;
  height: 0;
  overflow: hidden; }
  .responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.date {
  position: absolute;
  top: 30px;
  right: 107%;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  letter-spacing: .1em;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap; }

.month:after {
  content: '';
  display: inline-block;
  height: 1px;
  width: 2.5em;
  margin: 0 .5em;
  vertical-align: middle;
  background: #1c1c26;
  white-space: nowrap; }

.coach-timo {
  width: 15rem;
  height: auto;
  position: absolute;
  top: -5.0rem;
  left: 0rem; }
  .coach-timo.text {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: black;
    padding-top: 2rem;
    padding-left: 2rem; }
