@import 'partials/mixins';

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
    
text-align:center;
    min-width: 480px;
    width: auto !important;
}
.caption {
    //  position: absolute;
    left: 0;
    //  top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    padding-bottom: 1.3rem;
    margin: 3rem 0px 4rem;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 1rem;
  font-size: 25px;
  letter-spacing: 10px;
    position: relative;
}
.spacer {
    position:relative;
    & div {
        color:#ddd;
        background-color:#282E34;
        text-align:center;
        padding:110px 80px;
        text-align: justify;
    }
}
@mixin spacer($background-color){
    position:relative;
    & div {
        color:#ddd;
        background-color:$background-color;
        text-align:center;
        padding:110px 80px;
        text-align: justify;
    }
}
.spacer {
    @include spacer("#282E34");
}
.crew {
    @include spacer("#white");
    margin-bottom: 7rem;
    & div {
        padding:0;
        text-align: center;
    }
}
// classes with background-image
.main {
    @include background-image("../img/backgrounds/bomb.jpg", 100%);
    @include responsive-video;
    padding-bottom: 0px;
    // change max width also in code!
    @media screen and (max-width: "1366px") {
        padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
    }
    iframe {
        @media screen and (min-width: "1024px") {
            width: 115%;
            height: 115%;
            margin-top: -7.5%;
            left: -7.5%;
        }
    }
    @include js_logo;
}
.sponsors {
    @include background-image("../img/backgrounds/station.jpg", 30rem);
    height: 30rem;
    min-height: 0;
}
.latest {
    @include background-image("../img/backgrounds/auto.jpg", 58rem);
}
.videos {    
    @include background-image("../img/backgrounds/bomb.jpg", 72rem);
}
.tutorial {    
    @include background-image("../img/backgrounds/shop.jpg", 53rem);
    height: 53rem;
    min-height: 0;
}
.square {
    @include square-no-margin(3, 1.66%);
}
.overlay {
    position: relative;
    & .overlay-content {
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        height: 0;
        width: 0;
        color: white;
        background: url(../img/overlay/overlay.png); 
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-font-smoothing: antialiased;
        
        & div {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            font-size: 25px;
            letter-spacing: 10px;
        }
    }
    &:hover {
        & .overlay-content {
            left: 3%;
            height: 91%;
            width: 94%;
            opacity: 1;
            text-align: center;
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-51%);
        }
    }
}

.responsive-video{
    @include responsive-video();
}
// DATE AND MONTH
.date {
    position: absolute;
    top: 30px;
    right: 107%;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .1em;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
}
.month:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 2.5em;
    margin: 0 .5em;
    vertical-align: middle;
    background: #1c1c26;
    white-space: nowrap;
}

.coach-timo {
    width: 15rem;
    height: auto;
    position: absolute;
    top: -5.0rem;
    left: 0rem;
    
    &.text {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        color: black;
        padding-top: 2rem;
        padding-left: 2rem;        
    }
}
.footer {
    position:relative;
    & div {
        color:#ddd;
        background-color:#000;
        text-align:center;
        padding:260px 80px;
        text-align: justify;
        text-align: center;
    }
}
.footer-bottom{
    background-color:#141217;
    background-position:center 120px;
    background-image:url(../img/footer/mountains.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff
    
}
.social {
    max-height: 100%;
    vertical-align: bottom;
    display: inline-block;
    background-repeat:no-repeat;
    background-size: contain;
    padding: 1rem;
    
    
    &.just-shred {
        background-image:url(../img/js_logo/js_logo_white_nav.png);
        padding: 2rem 3rem 2rem 3rem;
    }
    &.instagram {
        background-image:url(../img/social/instagramm.png);
    }
    &.facebook {
        background-image:url(../img/social/fb.png);
    }
    &.vimeo {
        background-image:url(../img/social/vimeo.png);
    }
}