body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
    
text-align:center;
    min-width: 480px;
    width: auto !important;
}
.caption {
    //  position: absolute;
    left: 0;
    //  top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    padding-bottom: 20px;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.spacer {
    position:relative;
    
    & div {
        color:#ddd;
        background-color:#282E34;
        text-align:center;
        padding:110px 80px;
        text-align: justify;
    }
}




// PARALAX
.section {
//    padding: 8rem 0 7rem;
//    text-align: center;

    
}

.crew {
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}

.main {
    background-image: url("../img/backgrounds/bomb.png");
    min-height: 100%;
}

.sponsors {
    background-image: url("../img/backgrounds/station.png");
    min-height: 400px;

    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
}

.latest {
    background-image: url("../img/backgrounds/auto.png");
    min-height: 400px;
    max-height: 875px;
    
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
    
    overflow: hidden;
}
.videos {
    background-image: url("../img/backgrounds/bomb.png");
    min-height: 400px;
    
    position: relative;
}
.main, .sponsors, .latest, .videos {
    position: relative;
    //    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Bigger than 750 */
@media screen and (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
}

/* Bigger than 1000 */
@media screen and (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
}






// IMAGES AND VIDEO
@mixin square-no-margin($squaresPerRow, $margin) {
    float:left;
    position: relative;
    width: (100% / $squaresPerRow) - ($margin * 2);
    margin-left: $margin;
    margin-right: $margin;
    margin-top: $margin * 5;
//    margin-bottom: $margin / 2;
    padding-bottom : 30%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.square {
    @include square-no-margin(3, 1.66%);
}
.rectangle {
    @include square-no-margin(3, 0);
}
.filter-brightness {
    filter: brightness(50%);
    
    &:hover {
        filter: brightness(100%);
    }
}
@mixin responsive-video(){
    position: relative;
    padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    
    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@mixin js_logo(){
    &:after {
        content:'\A';
        position:absolute;
        width:100%; 
        height:100%;
        top:0; 
        left:0;
        background-image: url('../img/js_logo/js_logo_white.png');
        background-position:center center;
        background-repeat:no-repeat;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        
        @media screen and (max-width: "960px") {
            background-size:contain;
        }
    }
}
.responsive-video{
    @include responsive-video();
}
.main-video {
    @include responsive-video;
    padding-bottom: 0px;
    
    // change max width also in code!
    @media screen and (max-width: "1366px") {
        padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
    }
    
    iframe {
        @media screen and (min-width: "1024px") {
            width: 110%;
            height: 110%;
            margin-top: -2%;
        }
    }
    
    @include js_logo;
}





// DATE AND MONTH
.date {
    position: absolute;
    top: 30px;
    right: 107%;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: proxima-nova,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .1em;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
}
.month:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 2.5em;
    margin: 0 .5em;
    vertical-align: middle;
    background: #1c1c26;
    white-space: nowrap;
}