<html ng-app="js_website">
    <head>
        <title>Just-Shred | Crew</title>
        <meta name="author" content="Andreas Rau">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/main.css"/>
        
        <script type="application/javascript" src="node_modules/angular/angular.min.js"></script>
        <script type="application/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
        <script type="application/javascript" src="node_modules/angular-resource/angular-resource.min.js"></script>
        <script type="application/javascript" src="node_modules/angular-vimeo-api-factory/dist/angular-vimeo-api-factory.min.js"></script>
        <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="application/javascript" src="js/app.js"></script>
    </head>
    <body>
        
        
        <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html">
                        <img src="img/js_logo/js_logo_white_nav.png" class="img-responsive center-block" alt="">
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="bs-navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="page-scroll" href="index.html">Team</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="happening.html">Happening</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="video.html">Video</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="workshop.html">Workshop</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" data-toggle="modal" title="Just Shred!" href="#aboutModal">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container-full">
            
            <div ng-controller="vimeoController">
                <div class="col-md-12 no-padding">
                    <div class="embed-responsive embed-responsive-16by9 mainVimeoVideo">
                        <iframe class="mainVimeoVideo" id="mainVimeoVideo" src="{{getMainVimeoVideo()}}" width="1280" height="720" frameborder="0" title="#JUSTSHRED - Hintertux Season Opening 2016"></iframe>
                    </div>
                </div>
            </div>
            
            
            
            <div ng-controller="vimeoController">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                    <div ng-repeat="p in vimeoFeed">
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="{{getIframeSrc(p.uri)}}" width="1920" height="1080" frameborder="0" title="#JUSTSHRED - Hintertux Season Opening 2016" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="col-md-12 no-padding">
                    <div class="rectangle filter-brightness" style="background-image:url(img/portraits/tobi.JPG)"></div>
                    <div class="rectangle filter-brightness" style="background-image:url(img/portraits/benni.JPG)"></div>
                    <div class="rectangle filter-brightness" style="background-image:url(img/portraits/andy2.JPG)"></div>
                </div>
            </div>

            <div ng-controller="instagramController">
                <div class="col-md-8 col-md-offset-2 ">
                    <div ng-repeat="p in instagramFeed.data">
                        <div class="square" ng-style="{'background-image':'url({{p.images.standard_resolution.url}})'}">
                            <div class="date">
                                <span class="month">{{convertToDate(p.caption.created_time) | date: "MMM"}}</span>
                                <span >{{convertToDate(p.caption.created_time) | date: "d"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            
    </body>
</html>