<!DOCTYPE html>
<html ng-app="js_website">
    <head>
        
        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>Just-Shred | Crew</title>
        <meta name="description" content="">
        <meta name="author" content="Andreas Rau">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/main.css"/>


        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="images/favicon.png">
        
        <script type="application/javascript" src="js/angular.min.js"></script>
        <script type="application/javascript" src="js/angular-route.min.js"></script>
        <script type="application/javascript" src="js/angular-resource.min.js"></script>
        <script type="application/javascript" src="js/angular-vimeo-api-factory.min.js"></script>
        <script type="application/javascript" src="js/froogaloop2.min.js"></script>
        <script type="application/javascript" src="js/jquery.min.js"></script>
        <script type="application/javascript" src="js/app.js"></script>
        
    </head>
    <body>    
        
        
        <div class="main" id="mainVimeoVideoContainer" ng-controller="vimeoController">
            <div class="background-image"></div>
            <iframe id="mainVimeoVideo" ng-src="{{getMainVimeoVideo(p.uri)}}" width="1600" height="900" frameborder="0" title="#JUSTSHRED - Hintertux Season Opening 2016" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        
        
        <div class="crew">
            <div class="caption">
                <span class="border">CREW
                    <img class="coach-timo" src="img/portraits/coach_timo_speach_bubble.png">
                    <span class="coach-timo text">That's my</span>
                </span>
                
            </div>
            <div class="container" style="max-width: inherit;">
                <div class="row">
                    <div class="one-third column overlay">
                        <img class="u-max-full-width filter-brightness" src="img/portraits/tobi.JPG">
                        <div class="overlay-content"></div>
                    </div>
                    <div class="one-third column overlay">
                        <img class="u-max-full-width filter-brightness" src="img/portraits/benni.JPG">
                        <div class="overlay-content"></div>
                    </div>
                    <div class="one-third column overlay">
                        <img class="u-max-full-width filter-brightness" src="img/portraits/andy.JPG">
                        <div class="overlay-content"></div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="sponsors">
            <div class="background-image"></div>
            <div class="container">
                <div class="caption">
                    <span class="border" style="">SPONSORS</span>
                </div>
                <div class="row">
                    <div class="one-third column">
                        <img class="u-max-full-width" src="img/sponsors/Madrid.png">
                    </div>
                    <div class="one-third column">
                        <img class="u-max-full-width" src="img/sponsors/Ichthys.png">
                    </div>
                    <div class="one-third column">
                        <img class="u-max-full-width" src="img/sponsors/Nitro.png">
                    </div>
                </div>
                <div class="row">
                    <div class="one-third column">
                        <img class="u-max-full-width" src="img/sponsors/Arbor.png">
                    </div>
                    <div class="one-third column">
                        <img class="u-max-full-width" src="img/sponsors/SportMueller.png">
                    </div>
                    <div class="one-third column">
                        <img class="u-max-full-width" src="img/sponsors/LeCannabis.png">
                    </div>
                </div>
                
            </div>
        </div>
                

        <div class="spacer">
          <div>
          </div>
        </div>
        
        
        <div class="latest">
            <div class="background-image"></div>
            <div class="container">
                <div class="caption">
                    <span class="border">LATEST</span>
                </div>
                <div class="row" ng-controller="instagramController">
                    <div ng-repeat="p in instagramFeed.data">
                        <div class="square" ng-style="{'background-image':'url({{filterInstagramPosts(p)}})'}">
                            <div class="date">
                                <span class="month">{{convertToDate(p.caption.created_time) | date: "MMM"}}</span>
                                <span >{{convertToDate(p.caption.created_time) | date: "d"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacer">
          <div>
          </div>
        </div>

        <div class="videos" ng-controller="vimeoController">
            <div class="background-image"></div>
            <div class="container">
                <div class="caption">
                    <span class="border">VIDEOS</span>
                </div>
                <div class="row">
                    <div ng-repeat="p in vimeoFeed">
                        <div class="one-half column responsive-video" style="padding-bottom: 27.25%; margin-right: 2%; margin-bottom: 5%">
                            <iframe ng-src="{{getVimeoVideos(p.uri)}}" width="1600" height="900" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="spacer">
          <div>
          </div>
        </div>        
            
    </body>
</html>