<html ng-app="js_website">
    <head>
        <title>Just-Shred | Crew</title>
        <meta name="author" content="Andreas Rau">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/main.css"/>
        
        <script type="application/javascript" src="node_modules/angular/angular.min.js"></script>
        <script type="application/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
        <script type="application/javascript" src="node_modules/angular-resource/angular-resource.min.js"></script>
        <script type="application/javascript" src="node_modules/angular-vimeo-api-factory/dist/angular-vimeo-api-factory.min.js"></script>
        <script type="application/javascript" src="js/app.js"></script>
    </head>
    <body>
        
        
        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Just-Shred Crew</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>
        
        <div class="container-full">
            
            <div ng-controller="vimeoController">
                <div class="col-md-12 no-padding">
                    <div ng-repeat="p in vimeoFeed">
                        <div class="embed-responsive embed-responsive-16by9" ng-class="{titleVimeoVideo:$first}">
                            <iframe src="{{getIframeSrc(p.uri)}}" width="1920" height="1080" frameborder="0" title="#JUSTSHRED - Hintertux Season Opening 2016" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="col-md-12 no-padding">
                    <div class="rectangle filter-brightness" style="background-image:url(img/portraits/tobi.JPG)"></div>
                    <div class="rectangle filter-brightness" style="background-image:url(img/portraits/benni.JPG)"></div>
                    <div class="rectangle filter-brightness" style="background-image:url(img/portraits/andy2.JPG)"></div>
                </div>
            </div>

            <div ng-controller="instagramController">
                <div class="col-md-8 col-md-offset-2 ">
                    <div ng-repeat="p in instagramFeed.data">
                        <div class="square" ng-style="{'background-image':'url({{p.images.standard_resolution.url}})'}">
                            <div class="date">
                                <span class="month">{{convertToDate(p.caption.created_time) | date: "MMM"}}</span>
                                <span >{{convertToDate(p.caption.created_time) | date: "d"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            
    </body>
</html>